name: Release

on:
  push:
    branches:
      - main

jobs:
  create-release:
    name: Build and Create Tagged Release
    runs-on: ubuntu-latest
    steps:
      - name: Install archive tools
        run: sudo apt install zip

      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 8.6.1

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'pnpm'
          cache-dependency-path: 'web/pnpm-lock.yaml'

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Install dependencies
        run: pnpm install
        working-directory: web

      - name: Install package dependencies
        run: pnpm install
        working-directory: web

      - name: Run build
        run: pnpm build
        working-directory: web
        env:
          CI: false

      - name: Bump manifest version
        run: node .github/actions/bump-manifest-version.js
        env:
          TGT_RELEASE_VERSION: ${{ github.ref_name }}

      - name: Push manifest change
        uses: EndBug/add-and-commit@v8
        with:
          add: fxmanifest.lua
          push: true
          author_name: Manifest Bumper
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'chore: bump manifest version to ${{ github.ref_name }}'

      - name: Update branch
        working-directory: ./
        run: git push origin HEAD:main

      # - name: Update tag ref
      #   uses: EndBug/latest-tag@latest 
      #   with:
      #     ref: ${{ github.ref_name }}
          

      - name: Bundle files
        run: |
          mkdir -p ./temp/clean_lib
          mkdir -p ./temp/clean_lib/web/
          cp ./fxmanifest.lua ./temp/clean_lib
          cp -r ./src ./temp/clean_lib
          cp -r ./modules ./temp/clean_lib
          cp -r ./web/build ./temp/clean_lib/web/
          cd ./temp && zip -r ../clean_lib.zip ./clean_lib

      - name: Create Release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        id: auto_release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Use the GitHub token from the repository secrets
          title: "Release ${{ env.VERSION }}" # Use the version extracted from the workflow
          prerelease: false
          files: clean_multichar.zip # Specify the file to attach to the release
          automatic_release_tag: 'latest_production' # Tag name for the release
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Ensure this matches the repo token

